#!/usr/bin/env zsh

proxy() {

  export ALL_PROXY=http://127.0.0.1:1087
  # export ALL_PROXY=sock5://127.0.0.1:1086
  checkIp
}

noproxy() {
  unset ALL_PROXY
  checkIp
}

checkIp() {
  curl -s https://api-ipv4.ip.sb/ip
  echo "========================================"
  echo "Check what your IP is"
  echo "----------------------------------------"
  echo -n "IPv4: "
  curl -s https://api-ipv4.ip.sb/ip
  echo "----------------------------------------"
  echo -n "IPv6: "
  curl -s https://api-ipv6.ip.sb/ip

  if command -v python >/dev/null; then
    echo "----------------------------------------"
    echo "Info: "
    curl -s https://api.ip.sb/geoip | python -m json.tool
    echo ""
  fi

  echo "========================================"
}
